{% extends "base.html" %}
{% load static %}

{% block title %}Նախագիծը | ՀայՇտեմ{% endblock %}

{% block content %}
<div class="main-content">
  <div class="ui segment container">
    <h2 class="ui header center aligned grey page-header_">ՀայՇտեմի Նախագիծը</h2>
    <div class="ui segments">
      <div class="ui red segment">
        <p>«ՀայՇտեմ»-ը բազմամակարդակ որոնման համակարգով ու բարդ հարցումների հնարավորությամբ թվային մասնագիտացված կորպուս է՝ ուղղված արդի գրական արևելահայերեն տեքստերի շարահյուսական ծառերի շտեմարան ստեղծելու հիմնական նպատակին։</p>
      </div>
      <div class="ui red segment">
        <p>Լեզվական համաժամանակյա իրավիճակի ներկայացվածությունը կորպուսում ապահովվում է գեղարվեստական արձակ տեքստերի ու պարբերական մամուլից տարաբնույթ հրապարակումների միջոցով։ «ՀայՇտեմ»-ն ունի նաև բուհական լեզվաբանական դասագրքերից վերցված օրինակների ենթակորպուս (կորպուսի մասնագիտացված բնույթը)։ Կորպուսը պարունակում է շուրջ 100 հազար բառամթերք և 5 հազար շարահյուսական ծառ՝ ենթադրությամբ, որ այս ծավալը բավարար է լեզվական միավորների վերլուծության օրինաչափ հաճախականություն ապահովելու համար։</p>
        <p>«ՀայՇտեմ»-ի մշակումները հիմնվում են տեքստի վերլուծության հաջորդական, բազմամակարդակ ներկայացման վրա. այն պարունակում է մոդուլային հետևյալ բաղադրիչները.</p>
        <dl class="ui list">
          <li class="item">
            <i class="right triangle icon"></i>
            <div class="content">
              <div class="description">
              Գրանշանային վերլուծություն (բառանիշավորում, Tokenization and Word Segmentation),
              </div>
            </div>
          </li>
          <li class="item">
            <i class="right triangle icon"></i>
            <div class="content">
              <div class="description">
              Ձևաբանական վերլուծություն (բառույթավորում, խոսքիմասային ծանոթագրում, POS Tagging),              </div>
            </div>
          </li>
          <li class="item">
            <i class="right triangle icon"></i>
            <div class="content">
              <div class="description">
              Շարահյուսական վերլուծություն (նախադասությունների կախվածության ծառերի կառուցում, Parsing)։
              </div>
            </div>
          </li>
        </dl> 
      </div>
      <div class="ui stacked red segment">
        <p>«ՀայՇտեմ»-ում բառամթերքի ձևաբանական (խոսքիմասային պիտակավորումը) և նախադասությունների շարահյուսական վերլուծությունը համահունչ է UD նախագծի մշակումներին և տրվում է CoNLL-U ձևաչափով։</p>
        <p>«ՀայՇտեմ»-ի մշակումները բաց են, արտոնագրված ազատ հասանելիության CC-BY-SA պայմաններին համապատասխան։</p>
      </div>
    </div>
</div>
{% endblock %}