{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}ՀայՇտեմ{% endblock %}</title>
	{% load static %}
	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <!-- JQuery AJAX Form -->
  <script src="http://malsup.github.com/jquery.form.js"></script> 
	<!-- Google Icon Fonts -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Semantic -->
	<script src="/core{% static 'js/semantic.js' %}" type="text/javascript"></script>
	<link rel="stylesheet" href="/core{% static 'css/semantic.css' %}" type="text/css">
  <!-- Sources -->
  <link rel="stylesheet" href="/core{% static 'css/style.css' %}?v=4" type="text/css">
  <link rel="stylesheet" href="/core{% static 'css/home.css' %}?v=4" type="text/css">
</head>
<body>
	<div class="modals">
		{% include "modals.html" %}
		{% block modals %}{% endblock %}
	</div>
  <div class="ui large menu main-menu">
    <div class="ui container">
      {% block sidebar %}{% include "sidebar.html" %}{% endblock %}
    </div>
	</div> 
  <div id="content-wrapper">
    {% block content %}{% endblock %}
  </div>
  <div class="ui blue segment footer">
    <div class="ui center-aligned container">
      <div class="ui grid">
        <div class="row">
          <div class="nine wide column">
            <p>
              <a href="http://ansef.org/" target="_blank"><img width="115px" src={% static 'img/ansef.png' %}></a>
            </p>
            <p>Նախագիծն իրականացվում է «Գիտության և կրթության հայկական ազգային հիմնադրամի» (ԳԿՀԱՀ, ANSEF) Lingu 4595 դրամաշնորհային ծրագրի շրջանակում։</p>
            <p>© {% now 'Y' %} ՀայՇտեմ</p>
          </div>
          <div class="six wide column right floated right aligned">
            <p>
              ԵՊՀ, Քաղաքակրթական և մշակութային հետազոտությունների կենտրոն,
              <br>
              7-րդ մասնաշենք, լս. 330
              <br>
              Ալեք Մանուկյան 1, 0025, Երևան
            </p>
            <p>Հեռ. +374 (0) 60 710 583</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sources -->
  <script src="/core{% static 'js/app.js' %}?v=6" type="text/javascript"></script>
</body>
</html>