{% extends "base.html" %}
{% load static %}

{% block title %}Կորպուս | ՀայՇտեմ{% endblock %}

{% block content %}
<div class="main-content">
  <div class="ui container segment center-aligned">
      <div class="ui secondary pointing menu">
      <a class="item ajax" href="{% url 'list_view_bibliography' 'fiction' 1 %}">Գեղարվեստական</a>
      <a class="item ajax" href="{% url 'list_view_bibliography' 'press' 1 %}">Մամուլ</a>
      <a class="item ajax" href="{% url 'list_view_bibliography' 'textbook' 1 %}">Դասագրքային օրինակներ</a>
      <a class="item">Հեղինակների ցանկ</a>
      {% if auth %}
      <div class="right menu">
        <a class="ui item" href="{% url 'create_bibliography' %}">
          <button class="ui button">Ստեղծել նորը</button>
        </a>
      </div>
      {% endif %}
    </div>
    <div class="ui one column grid">
      <div class="column">
        <h2 class="ui header center aligned blue page-header_ before-secondary_">Բոլոր տեքստերը</h2>
        <h4 class="ui header center aligned grey secondary-header_">
        {% if type == 'textbook' %}Դասագրքային օրինակներ
        {% elif type == 'fiction' %}Գեղարվեստական
        {% elif type == 'press' %}Մամուլ
        {% endif %}
        </h4>
        <div class="column">
          <div class="ui pagination menu">
            {% if biblg_list.has_previous %}
              <a class="ajax item" href="{% url 'list_view_bibliography' type biblg_list.previous_page_number %}">Նախորդ էջ</a>
            {% endif %}
              <a class="item active">Էջ {{ biblg_list.number }} / {{ biblg_list.paginator.num_pages }}</a>
            {% if biblg_list.has_next %}
              <a class="ajax item" href="{% url 'list_view_bibliography' type biblg_list.next_page_number %}">Հաջորդ էջ</a>
            {% endif %}
          </div>
        </div>
        {% for biblg in biblg_list %}
          <div class="ui segments b{{biblg.id}}">
            <div class="ui segment">
              {% if biblg.tokenized == 'no' %}
                <a class="ui blue ribbon label">Թոքենիզացված չէ</a>
              {% elif biblg.tokenized == 'yes' %}
                <a class="ui orange ribbon label">Թոքենիզացված է, Ստուգված չէ</a>
              {% elif biblg.tokenized == 'validated' %}
                <a class="ui green ribbon label">Ստուգված է</a>
              {% endif %}
              {% if biblg.tagged == 'no' %}
                <a class="ui tag red label">Թագավորված չէ</a>
              {% elif biblg.tagged == 'yes' %}
                <a class="ui tag orange label">Թագավորված է, Ստուգված չէ</a>
              {% elif biblg.tagged == 'validated' %}
                <a class="ui tag blue label">Թագավորված է, Ստուգված է</a>
              {% endif %}
              <p></p>
              <p>{{biblg.name|truncatewords:30}}</p>
              {% if request.user.is_authenticated %}
              <div class="ui grid">
                <div class="sixteen wide column">
                  {% if biblg.tokenized == 'no' %}
                    <a class="ui blue basic button" href="{% url 'tokenize_bibliography' biblg.id %}" onclick="core.toknz.biblg(event)">Թոքենիզացիա</a>
                  {% elif biblg.tokenized == 'yes' %}
                    <a class="ui blue basic button ajax" href="{% url 'biblg_tokens' biblg.id %}">Ստուգել</a>
                  {% elif biblg.tokenized == 'validated' %}
                    <a class="ui blue basic button ajax" href="{% url 'biblg_tokens' biblg.id %}">Դիտել</a>
                  {% endif %}
                  {% if biblg.tokenized != 'no' %}
                    {% if biblg.tagged == 'no' %}
                      <a class="ui blue basic button" href="{% url 'tag_bibliography' biblg.id %}" onclick="core.tag.biblg(event)">Թագավորել</a>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
              {% endif %}
            </div>
            <div class="ui {% if biblg.textbook %}tall{% endif %} stacked segment secondary blue">
              {% if biblg.textbook %}
                {% for b_t in biblg.textbook.texts.all %}
                  <p>{{ forloop.counter }}. {{b_t.text|truncatewords:50}}...<p>
                {% endfor %}
              {% elif biblg.fiction %}
                {{biblg.fiction.text.text|truncatewords:200}}
              {% elif biblg.press %}
                {{biblg.press.text.text|truncatewords:200}}
              {% endif %}
            </div>
          </div>
        {% empty %}
          <h3 class="ui header grey">Տեքստեր չկան</h3>
        {% endfor %}
      </div>
      <div class="column">
        <div class="ui pagination menu">
          {% if biblg_list.has_previous  %}
            <a class="ajax item" href="{% url 'list_view_bibliography' type biblg_list.previous_page_number %}">Նախորդ էջ</a>
          {% endif %}
            <a class="item active">Էջ {{ biblg_list.number }} / {{ biblg_list.paginator.num_pages }}</a>
          {% if biblg_list.has_next %}
            <a class="ajax item" href="{% url 'list_view_bibliography' type biblg_list.next_page_number %}">Հաջորդ էջ</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}