{% extends "base.html" %}
{% load static %}

{% block title %}Մատենագրություններ | ՀայՇտեմ{% endblock %}

{% block content %}
<div class="main-content">
  <div class="ui container segment center-aligned">
    <div class="ui one column grid">
      <div class="column">
        <div class="ui olive message">Բոլոր մատենագրությունները</div>
        {% for biblg in biblg_list %}
          <div class="ui stacked segment">{{biblg.name|truncatewords:30}}</div>
        {% endfor %}
      </div>
      <div class="column">
        <div class="ui pagination menu">
          {% if biblg_list.has_previous  %}
            <a class="ajax item" href="{% url 'list_view_bibliography' biblg_list.previous_page_number %}">Նախորդ էջ</a>
          {% endif %}
            <a class="item active">Էջ {{ biblg_list.number }} / {{ biblg_list.paginator.num_pages }}</a>
          {% if biblg_list.has_next %}
            <a class="ajax item" href="{% url 'list_view_bibliography' biblg_list.next_page_number %}">Հաջորդ էջ</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}