{% extends "base.html" %}
{% load static %}

{% block title %}Գլխավոր էջ | ՀայՇտեմ{% endblock %}

{% block content %}
<div class="main-content no-padding home">
  <div class="header_">
    <div class="ui container">
      <div class="ui grid">
        <div class="nine wide column middle aligned description">
          <p class="text">«ՀայՇտեմ»-ը արդի գրական արևելահայերեն տեքստերի մասնագիտացված կորպուս է — շարահյուսական ծառերի շտեմարան (Treebank)։ Նախագիծը կառուցված է որպես տեքստի գրանշանային, ձևաբանական և շարահյուսական ավտոմատ վերլուծության մոդուլների ամբողջություն։ «ՀայՇտեմ»-ի հիմնական առավելությունը, այսպիսով, տեքստի խորը ծանոթագրումն է. կորպուսում յուրաքանչյուր բառանիշ պիտակավորված է ձևաբանորեն, լիովին նկարագրված է նախադասությունների շարահյուսական կառուցվածքը։ Լեզվաբանական ծանոթագրման համակարգը համահունչ է UD նախագծի մշակումներին։</p>
        </div>
        <div class="one wide column"></div>
        <div class="six wide column logo">
          <h1 class="name">ՀայՇտեմ</h1>
          <h4 class="title">Արևելահայերենի շարահյուսական վերլուծիչ ու շարահյուսական ծառերի շտեմարան</h4>
        </div>
      </div>
     </div>
  </div>
</div>
{% endblock %}