{% extends "base.html" %}
{% load static %}

{% block title %}Գլխավոր էջ | ՀայՇտեմ{% endblock %}

{% block content %}
<div class="main-content no-padding home">
  <div class="header_">
    <div class="ui container">
      <div class="ui grid">
        <div class="nine wide column middle aligned description">
          <p class="text">«ՀայՇտեմ»-ը արդի գրական արևելահայերեն տեքստերի մասնագիտացված կորպուս է — շարահյուսական ծառերի շտեմարան (Treebank)։ Նախագիծը կառուցված է որպես տեքստի գրանշանային, ձևաբանական և շարահյուսական ավտոմատ վերլուծության մոդուլների ամբողջություն։ «ՀայՇտեմ»-ի հիմնական առավելությունը, այսպիսով, տեքստի խորը ծանոթագրումն է. կորպուսում յուրաքանչյուր բառանիշ պիտակավորված է ձևաբանորեն, լիովին նկարագրված է նախադասությունների շարահյուսական կառուցվածքը։ Լեզվաբանական ծանոթագրման համակարգը համահունչ է <a href="http://universaldependencies.org/" target="_blank">UD նախագծի մշակումներին</a>։</p>
        </div>
        <div class="one wide column"></div>
        <div class="six wide column logo">
          <h1 class="name">ՀայՇտեմ</h1>
          <h4 class="title">Արևելահայերենի շարահյուսական վերլուծիչ ու շարահյուսական ծառերի շտեմարան</h4>
          <h4 class="">ԹԻՄԸ</h4>
          <p class="team-member">
            <a class="ui image label" href="https://yerevan.academia.edu/MaratYavrumyan" target="_blank">
              <img src="{% static 'img/marat.jpg' %}">
              Մարատ Մ. Յավրումյան
            </a>
          </p>
          <p class="team-member">
            <a class="ui image label" href="https://github.com/Hrant-Khachatrian" target="_blank">
              <img src="{% static 'img/hrant.jpg' %}">
              Հրանտ Հ. Խաչատրյան
            </a>
          </p>
          <p class="team-member">
            <a class="ui image label" href="https://github.com/gorarakelyan" target="_blank">
              <img src="{% static 'img/gor.jpg' %}">
              Գոռ Դ. Առաքելյան
            </a>
          </p>
          <p class="team-member">
            <a class="ui image label">
              <img src="{% static 'img/anna.jpg' %}">
              Աննա Ս. Դանիելյան
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="_body">
    <div class="ui container">
      <div class="ui grid hidden">
        <div class="sixteen wide column">
          <h2 class="ui blue header center aligned">ԳՈՐԾԸՆԿԵՐՆԵՐ<h2>
        </div>
        <div class="sixteen wide column">
          <div class="ui link cards center aligned supporters">
            <div class="card">
              <div class="image center aligned" style="background: #ef5a6b;">
                <a href="http://yerevann.com/" target="_blank">
                  <img src="{% static 'img/supporter-1.png' %}" height="120px">
                </a>
              </div>
              <div class="content">
                <div class="header">YerevaNN</div>
                <div class="meta">
                  <a>Գործընկեր</a>
                </div>
                <div class="description">
                  Non-profit computer science and mathematics research lab based in Yerevan, Armenia. 
                </div>
              </div>
            </div>
            <div class="card">
              <div class="image center aligned">
                <a href="http://cccsysu.com/" target="_blank">
                  <img src="{% static 'img/supporter-2.png' %}" height="120px">
                </a>
              </div>
              <div class="content">
                <div class="header">CCCSYSU</div>
                <div class="meta">
                  <a>Գործընկեր</a>
                </div>
                <div class="description">
                  Քաղաքակրթական և մշակութային հետազոտությունների կենտրոն:
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}