{% if not auth %}
<div id="signin-modal" class="ui modal">
  <div class="header">
    <h3>Մուտք</h3>
  </div>
  <div class="content">
    <form method="POST" action="{% url 'login' %}" class="ui form">
      {% csrf_token %}
      <div class="field">
        <label>Մուտքանուն:</label>
        <input type="text" name="username" placeholder="Մուտքանուն">
      </div>
      <div class="field">
        <label>Գաղտնաբառ:</label>
        <input type="password" name="password" placeholder="Գաղտնաբառ">
      </div>
    </form>
    <div class="ui negative message hidden">
      <i class="close icon"></i>
      <div class="header">
        Սխալմունք
      </div>
      <p>Ներմուծած տվյալները սխալ են</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui primary button" onclick="core.userAuth.signIn()">Մուտք գործել</div>
    <div class="ui secondary button" onclick="$('#signin-modal.modal').modal('hide')">Փակել</div>
  </div>
</div>
{% else %}
<div id="author-modal" class="ui modal">
  <div class="header">
    <h3>Ավելացնել նոր հեղինակ</h3>
  </div>
  <div class="content">
    <form method="POST" action="{% url 'create_author' %}" class="ui form">
      {% csrf_token %}
      <div class="field">
        <div class="three fields">
          <div class="field">
            <input type="text" name="author_name" placeholder="Հեղինակի անունը, ազգանունը">
          </div>
          <div class="field">
            <input type="text" name="author_patronymic" placeholder="Հեղինակի հայրանունը">
          </div>
          <div class="field">
            <input type="text" name="author_pseudonym" placeholder="Հեղինակի կեղծանունը">
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <input type="text" name="author_birth_date" placeholder="Հեղինակի ծննդյան տարեթիվը(տարի-ամիս-օր)">
          </div>
          <div class="field">
            <div class="ui checkbox death-checkbox" onclick="core.biblg.authorModel.addDeathDate(event)">
              <input type="checkbox" class="hidden">
              <label>Հեղինակը մահացած է</label>
            </div>
            <input class="hidden death-input" type="text" name="author_death_date" placeholder="Հեղինակի մահվան տարեթիվը(տարի-ամիս-օր)" value="0">
          </div>
        </div>
      </div>
    </form>
    <div class="ui negative message hidden">
      <i class="close icon"></i>
      <div class="header">
        Սխալմունք
      </div>
      <p>Ներմուծած տվյալները սխալ են</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui primary button" onclick="core.biblg.authorModel.create()">Ավելացնել</div>
    <div class="ui secondary button" onclick="$('#author-modal.modal').modal('hide')">Փակել</div>
  </div>
</div>
<div id="check-word" class="ui modal">
  <div class="header">Բառ</div>
  <div class="content"></div>
</div>
<div id="new-word" class="ui modal">
  <div class="header">Ավելացնել նոր բառ</div>
  <div class="content">
    <form class="ui form" method="POST" onchange="core.t_ui.wordOverview()" action="{% url 'new_word' %}">
      <div class="field">
        <label>Բառույթ</label>
        <input type="text" name="word" placeholder="Բառը">
      </div>
      <div class="field">
        <label>Template</label>
        <div class="ui selection dropdown">
          <input type="hidden" name="tpl">
          <div class="default text">Template</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="hy-noun-ի-ներ" onclick="core.t_ui.openFields('noun')">hy-noun-ի-ներ</div>
            <div class="item" data-value="hy-noun-ի-եր" onclick="core.t_ui.openFields('noun')">hy-noun-ի-եր</div>
            <div class="item" data-value="hy-noun-ություն" onclick="core.t_ui.openFields('noun')">hy-noun-ություն</div>
            <div class="item" data-value="hy-noun-ութիւն" onclick="core.t_ui.openFields('noun')">hy-noun-ութիւն</div>
            <div class="item" data-value="hy-noun-ու-ներ" onclick="core.t_ui.openFields('noun')">hy-noun-ու-ներ</div>
            <div class="item" data-value="hy-noun-ա-ներ" onclick="core.t_ui.openFields('noun')">hy-noun-ա-ներ</div>
            <div class="item" data-value="hy-noun-ան-ներ" onclick="core.t_ui.openFields('noun')">hy-noun-ան-ներ</div>
            <div class="item" data-value="hy-noun-ոջ-եր" onclick="core.t_ui.openFields('noun')">hy-noun-ոջ-եր</div>
            <div class="item" data-value="hy-noun-ոջ-ներ" onclick="core.t_ui.openFields('noun')">hy-noun-ոջ-ներ</div>
            <div class="item" data-value="hy-noun-որ-եր" onclick="core.t_ui.openFields('noun')">hy-noun-որ-եր</div>
            <div class="item" data-value="hy-noun-որ-ներ" onclick="core.t_ui.openFields('noun')">hy-noun-որ-ներ</div>
            <div class="item" data-value="hy-noun-վա-եր" onclick="core.t_ui.openFields('noun')">hy-noun-վա-եր</div>
            <div class="item" data-value="hy-noun-վա-ներ" onclick="core.t_ui.openFields('noun')">hy-noun-վա-ներ</div>
            <div class="item" data-value="hy-noun-ոջ-այք" onclick="core.t_ui.openFields('noun')">hy-noun-ոջ-այք</div>
            <div class="item" data-value="hy-noun-ու-իք" onclick="core.t_ui.openFields('noun')">hy-noun-ու-իք</div>
            <div class="item" data-value="hy-noun-ու-եր" onclick="core.t_ui.openFields('noun')">hy-noun-ու-եր</div>
            <div class="item" data-value="hy-noun-ու-իկ" onclick="core.t_ui.openFields('noun')">hy-noun-ու-իկ</div>
            <div class="item" data-value="conj.hy.al" onclick="core.t_ui.openFields('verb')">conj.hy.al</div>
            <div class="item" data-value="conj.hy.el" onclick="core.t_ui.openFields('verb')">conj.hy.el</div>
            <div class="item" data-value="conj.hy.նալ" onclick="core.t_ui.openFields('verb')">conj.hy.նալ</div>
            <div class="item" data-value="conj.hy.ցնել" onclick="core.t_ui.openFields('verb')">conj.hy.ցնել</div>
          </div>
        </div>
      </div>
      <div class="field extra hidden">
        <div class="noun hidden pos">
          <div class="field">
            <label>Oblique stem</label>
            <input type="text" name="noun_o_stem" placeholder="Oblique stem">
          </div>
          <div class="field">
            <label>Singular stem</label>
            <input type="text" name="noun_s_stem" placeholder="Singular stem">
          </div>
          <div class="field">
            <div class="ui slider checkbox">
              <input type="checkbox" name="noun_a" tabindex="0" class="hidden">
              <label>Animate</label>
            </div>
          </div>
          <div class="field">
            <div class="ui slider checkbox">
              <input type="checkbox" name="noun_pl" tabindex="0" class="hidden">
              <label>Plural-only</label>
            </div>
          </div>
          <div class="field">
            <div class="ui slider checkbox">
              <input type="checkbox" name="noun_unc" tabindex="0" class="hidden">
              <label>Uncountable</label>
            </div>
          </div>
          <div class="field">
            <div class="ui slider checkbox">
              <input type="checkbox" name="noun_n" tabindex="0" class="hidden">
              <label>Nominalized</label>
            </div>
          </div>
        </div>
        <div class="verb hidden pos">
          <div class="field">
            <label>Root</label>
            <input type="text" name="verb_root" placeholder="Root">
          </div>
        </div>
      </div>
      <div class="field">
        <div class="ui button" onclick="saveNewWord()">Ավելացնել</div>
      </div>
    </form>
    <div class="ui divider"></div>
    <div class="overview"></div>
  </div>
</div>
{% endif %}