  {% if False %}
    <form class="ui form" method="POST" onchange="core.t_ui.wordOverview()" action="{% url 'new_word' %}">
      <div class="field">
        <label>Բառույթ</label>
        <input type="text" name="word" placeholder="Բառը">
      </div>
      <div class="field">
        <label>Template</label>
        <div class="ui selection dropdown">
          <input type="hidden" name="tpl">
          <div class="default text">Template</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="hy-noun-ի-ներ" onclick="core.t_ui.openFields('noun')">NOUN[ի-ներ]</div>
            <div class="item" data-value="hy-noun-ի-եր" onclick="core.t_ui.openFields('noun')">NOUN[ի-եր]</div>
            <div class="item" data-value="hy-noun-ություն" onclick="core.t_ui.openFields('noun')">NOUN[ություն]</div>
            <div class="item" data-value="hy-noun-ութիւն" onclick="core.t_ui.openFields('noun')">NOUN[ութիւն]</div>
            <div class="item" data-value="hy-noun-ու-ներ" onclick="core.t_ui.openFields('noun')">NOUN[ու-ներ]</div>
            <div class="item" data-value="hy-noun-ա-ներ" onclick="core.t_ui.openFields('noun')">NOUN[ա-ներ]</div>
            <div class="item" data-value="hy-noun-ան-ներ" onclick="core.t_ui.openFields('noun')">NOUN[ան-ներ]</div>
            <div class="item" data-value="hy-noun-ոջ-եր" onclick="core.t_ui.openFields('noun')">NOUN[ոջ-եր]</div>
            <div class="item" data-value="hy-noun-ոջ-ներ" onclick="core.t_ui.openFields('noun')">NOUN[ոջ-ներ]</div>
            <div class="item" data-value="hy-noun-որ-եր" onclick="core.t_ui.openFields('noun')">NOUN[որ-եր]</div>
            <div class="item" data-value="hy-noun-որ-ներ" onclick="core.t_ui.openFields('noun')">NOUN[որ-ներ]</div>
            <div class="item" data-value="hy-noun-վա-եր" onclick="core.t_ui.openFields('noun')">NOUN[վա-եր]</div>
            <div class="item" data-value="hy-noun-վա-ներ" onclick="core.t_ui.openFields('noun')">NOUN[վա-ներ]</div>
            <div class="item" data-value="hy-noun-ոջ-այք" onclick="core.t_ui.openFields('noun')">NOUN[ոջ-այք]</div>
            <div class="item" data-value="hy-noun-ու-իք" onclick="core.t_ui.openFields('noun')">NOUN[ու-իք]</div>
            <div class="item" data-value="hy-noun-ու-եր" onclick="core.t_ui.openFields('noun')">NOUN[ու-եր]</div>
            <div class="item" data-value="hy-noun-ու-իկ" onclick="core.t_ui.openFields('noun')">NOUN[ու-իկ]</div>

            <div class="item" data-value="sconj" onclick="core.t_ui.openFields('sconj')">SCONJ</div>
            <div class="item" data-value="cconj" onclick="core.t_ui.openFields('cconj')">CCONJ</div>
            <div class="item" data-value="part" onclick="core.t_ui.openFields('part')">PART</div>
            <div class="item" data-value="aux" onclick="core.t_ui.openFields('aux')">AUX</div>
            <div class="item" data-value="punct" onclick="core.t_ui.openFields('punct')">PUNCT</div>
            <div class="item" data-value="sym" onclick="core.t_ui.openFields('sym')">SYM</div>
            <div class="item" data-value="x" onclick="core.t_ui.openFields('x')">X</div>
            <div class="item" data-value="num" onclick="core.t_ui.openFields('num')">NUM</div>
            <div class="item" data-value="intj" onclick="core.t_ui.openFields('intj')">INTJ</div>
            <div class="item" data-value="pron" onclick="core.t_ui.openFields('pron')">PRON</div>
            <div class="item" data-value="adj" onclick="core.t_ui.openFields('adj')">ADJ</div>
            <div class="item" data-value="adv" onclick="core.t_ui.openFields('adv')">ADV</div>
            <div class="item" data-value="adp" onclick="core.t_ui.openFields('det')">ADP</div>
            <div class="item" data-value="det" onclick="core.t_ui.openFields('det')">DET</div>
            <!-- Pass -->
            <div class="item" data-value="conj.hy.al" onclick="core.t_ui.openFields('verb')">VERB[ալ]</div>
            <div class="item" data-value="conj.hy.el" onclick="core.t_ui.openFields('verb')">VERB[ել]</div>
            <div class="item" data-value="conj.hy.նալ" onclick="core.t_ui.openFields('verb')">VERB[նալ]</div>
            <div class="item" data-value="conj.hy.ցնել" onclick="core.t_ui.openFields('verb')">VERB[ցնել]</div>
          </div>
        </div>
      </div>
      <div class="field extra hidden">
        <div class="adv hidden pos">
          <div class="field">
            <label>Degree</label>
            <div class="ui selection dropdown">
              <input type="hidden" name="adv_degree">
              <i class="dropdown icon"></i>
              <div class="default text">Degree</div>
              <div class="menu">
                <div class="item" data-value="pos">Positive</div>
                <div class="item" data-value="cmp">Comparative</div>
                <div class="item" data-value="sup">Superlative</div>
              </div>
            </div>
          </div>
        </div>
        <div class="adj hidden pos">
          <div class="field">
            <label>Degree</label>
            <div class="ui selection dropdown">
              <input type="hidden" name="adj_degree">
              <i class="dropdown icon"></i>
              <div class="default text">Degree</div>
              <div class="menu">
                <div class="item" data-value="pos">Positive</div>
                <div class="item" data-value="cmp">Comparative</div>
                <div class="item" data-value="sup">Superlative</div>
              </div>
            </div>
          </div>
        </div>
        <div class="pron hidden pos">
          <div class="field">
            <label>PronType</label>
            <div class="ui selection dropdown">
              <input type="hidden" name="pron_pron_type">
              <i class="dropdown icon"></i>
              <div class="default text">PronType</div>
              <div class="menu">
                <div class="item" data-value="art">Art</div>
                <div class="item" data-value="dem">Dem</div>
                <div class="item" data-value="emp">Emp</div>
                <div class="item" data-value="ind">Ind</div>
                <div class="item" data-value="int">Int</div>
                <div class="item" data-value="neg">Neg</div>
                <div class="item" data-value="prs">Prs</div>
                <div class="item" data-value="rcp">Rcp</div>
                <div class="item" data-value="rel">Rel</div>
                <div class="item" data-value="tot">Tot</div>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="ui slider checkbox">
              <input type="checkbox" name="pron_reflex" tabindex="0" class="hidden">
              <label>Reflex</label>
            </div>
          </div>
        </div>
        <div class="num hidden pos">
          <div class="field">
            <label>Number</label>
            <div class="ui selection dropdown">
              <input type="hidden" name="num_num_type">
              <i class="dropdown icon"></i>
              <div class="default text">NumType</div>
              <div class="menu">
                <div class="item" data-value="card">Card</div>
                <div class="item" data-value="dist">Dist</div>
                <div class="item" data-value="frac">Frac</div>
                <div class="item" data-value="ord">Ord</div>
                <div class="item" data-value="range">Range</div>
              </div>
            </div>
          </div>
        </div>
        <div class="noun hidden pos">
          <div class="field">
            <label>Oblique stem</label>
            <input type="text" name="noun_o_stem" placeholder="Oblique stem">
          </div>
          <div class="field">
            <label>Singular stem</label>
            <input type="text" name="noun_s_stem" placeholder="Singular stem">
          </div>
          <div class="field">
            <label>Number</label>
            <div class="ui selection dropdown">
              <input type="hidden" name="noun_number">
              <i class="dropdown icon"></i>
              <div class="default text">Number</div>
              <div class="menu">
                <div class="item" data-value="pl_sing">Plural/Singular</div>
                <div class="item" data-value="col">Collective</div>
                <div class="item" data-value="assocpl">Assocpl</div>
              </div>
            </div>
          </div>
          <div class="field">
            <label>Materiality</label>
            <div class="ui selection dropdown">
              <input type="hidden" name="noun_materiality">
              <i class="dropdown icon"></i>
              <div class="default text">Materiality</div>
              <div class="menu">
                <div class="item" data-value="conc">Concrete</div>
                <div class="item" data-value="astr">Abstract</div>
              </div>
            </div>
          </div>
          <div class="field">
            <label>Animacy</label>
            <select multiple="" name="noun_animate" class="ui dropdown">
              <option>Animacy</option>
              <option value="anim">Animate</option>
              <option value="inan">Inanimate</option>
              <option value="human">Human</option>
            </select>
          </div>
          <div class="field">
            <div class="ui slider checkbox">
              <input type="checkbox" name="noun_proper" tabindex="0" class="hidden">
              <label>Proper Noun</label>
            </div>
          </div>
          <div class="field">
            <div class="ui slider checkbox">
              <input type="checkbox" name="noun_n" tabindex="0" class="hidden">
              <label>Nominalized</label>
            </div>
          </div>
        </div>
        <div class="verb hidden pos">
          <div class="field">
            <label>Root</label>
            <input type="text" name="verb_root" placeholder="Root">
          </div>
        </div>
      </div>
      <div class="field">
        <div class="ui button" onclick="saveNewWord()">Ավելացնել</div>
      </div>
    </form>
    <div class="ui divider"></div>
    <div class="overview"></div>
  </div>
</div>
<div id="check-tokenization" class="ui modal">
  <div class="header">Ուղղել թոքենների սահմանազատումը</div>
  <div class="content">
    <form class="ui form" method="POST" action="{% url 'tokenization_save' %}">
      <input type="hidden" name="sentence" class="sentence">
      <input type="hidden" name="biblg" class="biblg">
      <div class="field">
        <label>Output:</label>
        <textarea class="tok-res tab-teaxtarea" rows="32" name="tokenization" placeholder="..."></textarea>
      </div>
      <div class="field">
        <div class="ui button" onclick="core.t_ui.saveTokenization()">Հաստատել</div>
      </div>
    </form>
  </div>
</div>
<div id="dep-tree" class="ui modal">
  <div class="header">Շարահյուսական ծառը</div>
  <div class="content">
    <form class="ui form" method="POST" action="{% url 'tree_save' %}">
      <input type="hidden" name="sentence" class="sentence">
      <input type="hidden" name="biblg" class="biblg">
      <div class="field">
        <label>Conll-U:</label>
        <textarea class="dep-tree tab-teaxtarea" rows="16" name="conllu" placeholder="..."></textarea>
      </div>
      <div class="field">
        <div class="ui button" onclick="core.t_ui.saveTree()">Հաստատել</div>
      </div>
    </form>
  </div>
</div>
{% endif %}