body {
	background: #f4f4f4;
  overflow-y: scroll;
}

body * {
  word-break: break-word;
}

.ui.header {
  font-weight: 300!important;
}

.main-menu {
  margin: 0!important;
  border-radius: 0!important;
}

#content-wrapper {
  min-height: 80%;
}

.main-content {
  padding: 25px 0;
}

.main-content.no-padding {
  padding: 0;
}

.tokenization .result .steps {
  overflow-x: hidden;
  width: 100%;
}

.tokenization .result .secondary.segment:hover .steps {
  overflow-x: scroll;
}

.tokenization .result .steps .step {
  padding: 10px 20px;
}

.tokenization .result .steps .step .title {
  font-size: 13px;
  font-weight: normal;
}

.tokenization .result .id {
  margin-right: 7px;
  font-size: 13px;
  font-family: 'Roboto';
}

.tokenization .result .id.blue { color: blue; }
.tokenization .result .id.teal { color: #00B5AD; }

.footer {
  margin: 0!important;
  border-radius: 0!important;
}

.hidden {
  display: none!important;
}

._loader {
  height: 100px!important;
}

.page-header_ {
  padding: 20px!important;
  font-weight: 200!important;
}
.before-secondary_ {
  padding: 20px 0 10px!important;
  margin: 0!important;
}

.secondary-header_ {
  margin: 0 0 10px!important;
}
